.logo{
  a{
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/petpet-week8/logo.svg");
    background-repeat: no-repeat;
    width: 121px;
    height: 55px;
    display: block;
    text-indent: 150%;
    overflow: hidden;
    white-space: nowrap;
  }
}
